html{
   background-image: url("wood.png");
}

body{


}

h1 {
  color: #faedcaff ;

}

#book {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#beginButton {
  position: relative;
 left: 540px;
 bottom: 300px;

}
