html{
   background-image: url("wood.png");
}

body{


}

h1 {
  color: #faedcaff ;

}

#book {
   position: relative;
  right:450px;
  bottom: 0px;
}

#beginButton {
position:absolute;
 left: 540px;
 top: 500px;

}

#collegeSelect{
   position: relative;

  bottom:0px;
  left:370;
  right: auto;
}
